name: WalletKit SDK Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_26.2.app/Contents/Developer

    - name: Show Swift version
      run: swift --version

    - name: Run tests
      run: swift test -v
