name: WalletKit SDK Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Show Swift version
      run: swift --version

    - name: Run tests
      run: swift test -v
